<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col">
          <h1>Vehicles</h1>
        </div>
        <div class="col mt-2">
          <input #filter type="search" class="form-control" placeholder="Filter Vehicles" (input)="onInput(filter.value)" [value]="currentFilter">
        </div>
      </div>
      <ng-container *ngIf="vehicles$ | async as vehicles; else loading">
        <app-list [entries]="vehicles" route="vehicles"></app-list>
      </ng-container>
      <ng-template #loading>
        <app-loading></app-loading>
      </ng-template>      
    </div>
  </div>
</div>