<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="mb-4">Star Wars</h1>
      <p>This is an application used to learn <a target="_blank" rel="noopener noreferrer" href="https://angular.io">Angular</a>, <a target="_blank" rel="noopener noreferrer" href="https://rxjs.dev">RxJS</a>, and <a target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org/">TypeScript</a>.</p>
      <p>The <a target="_blank" rel="noopener noreferrer" href="https://swapi.dev">Star Wars API</a> is used to gather all the data that you see.</p>
      <p>Styles used in the application comes from <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a>.</p>
    </div>
  </div>
</div>
